.container {
  width: 1000px;
  margin: 0 auto;
}

.section {
  padding: 0.3rem 0;
}

.button {
  margin: 0 0.2rem;
}

.searchResult {
  margin-top: 0.3rem;
}

.breed {
  display: inline-block;
  margin: 0.7rem;
  padding-bottom: 1rem;
  border: 5px solid black;
  text-align: center;
}

.image {
  height: 300px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breedName {
  text-align: center;
  text-transform: capitalize;
}
